openapi: 3.1.0

info:
  title: Ubyca API v1
  version: v1
  license:
    name: Proprietary
    identifier: "LicenseRef-Proprietary"
  description: |
    API pública de Ubyca para integración con la plataforma de experiencias GPS.

    Cubre cuatro áreas principales:

    - **Health** — Verificar disponibilidad del servicio (sin autenticación).
    - **Projects & Locations** — Descubrir proyectos y ubicaciones (IDs requeridos para Presence).
    - **Presence** — Validar presencia geográfica contra las reglas de disponibilidad configuradas.
    - **Analytics** — Consultar métricas históricas y en vivo de proyectos y ubicaciones.

    ## Autenticación

    Todos los endpoints requieren credenciales de API. Se soportan dos formatos
    equivalentes en el header `Authorization`:

    **HTTP Basic (recomendado):**
    ```
    Authorization: Basic base64(key_public:key_secret)
    ```

    **Bearer Pair:**
    ```
    Authorization: Bearer key_public:key_secret
    ```

    Las credenciales se crean y gestionan desde Studio.

    ## Flujo de integración

    Un integrador externo puede obtener el `location_id` requerido por Presence
    directamente desde la API, sin acceder a Studio:

    ```
    GET /api/v1/projects                         → obtener project IDs
    GET /api/v1/projects/{project_id}/locations  → obtener location IDs
    POST /api/v1/presence/validate               → validar presencia
    ```

servers:
  - url: https://api.ubyca.com/api/v1
    description: Production
  - url: http://localhost:3001/api/v1
    description: Development

tags:
  - name: Health
    description: Service availability check. No authentication required.
  - name: Projects
    description: Discover and list projects belonging to your organization.
  - name: Locations
    description: |
      Discover locations (GeoPoints) within a project.
      The `id` of each location is the `location_id` required by Presence API calls.
  - name: Presence
    description: Validate geographic presence against location availability rules.
  - name: Analytics
    description: |
      Query historical and live analytics for projects and locations.
      All endpoints require the `analytics:read` scope.
      Metrics cover entry events (`radius_enter`, `presence.validated`) and
      conversion events (`point_click`, `destination.delivered`).

security:
  - basicAuth: []
  - bearerPair: []

paths:
  # ── Health ────────────────────────────────────────────────────────────────────

  /health:
    get:
      tags:
        - Health
      operationId: healthCheck
      summary: Service health check
      description: |
        Returns the service status and API version. No authentication required.
        Use this endpoint to verify the API is reachable before making authenticated calls.
      security: []
      responses:
        "200":
          description: Service is up and running.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - version
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                    description: Always `"ok"` when the service is healthy.
                    example: "ok"
                  version:
                    type: string
                    description: API version identifier.
                    example: "v1"
              example:
                status: "ok"
                version: "v1"

  # ── Projects ─────────────────────────────────────────────────────────────────

  /projects:
    get:
      tags:
        - Projects
      operationId: listProjects
      summary: List projects
      description: |
        Returns all projects belonging to the organization associated with the
        API credential, ordered by creation date descending.

        Each project includes `locationCount` but not the individual location IDs.
        To obtain location IDs, call `GET /api/v1/projects/{project_id}/locations`.
      security:
        - basicAuth: []
        - bearerPair: []
      responses:
        "200":
          description: List of projects returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
              example:
                data:
                  - id: "550e8400-e29b-41d4-a716-446655440000"
                    title: "Circuito Histórico"
                    subtitle: "Recorrido por el centro"
                    description: "Visita los puntos históricos de la ciudad."
                    status: "active"
                    coverImage: null
                    howToGet: null
                    shareText: null
                    communityEnabled: false
                    locationCount: 3
                    createdAt: "2026-06-01T10:00:00.000Z"
                    updatedAt: "2026-06-15T12:30:00.000Z"
                meta:
                  count: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/ForbiddenProjects'

  /projects/{id}:
    get:
      tags:
        - Projects
      operationId: getProject
      summary: Get a project
      description: |
        Returns a single project by ID. The project must belong to the organization
        associated with the API credential.
      security:
        - basicAuth: []
        - bearerPair: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: UUID of the project.
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        "200":
          description: Project returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
              example:
                data:
                  id: "550e8400-e29b-41d4-a716-446655440000"
                  title: "Circuito Histórico"
                  subtitle: "Recorrido por el centro"
                  description: "Visita los puntos históricos de la ciudad."
                  status: "active"
                  coverImage: null
                  howToGet: null
                  shareText: null
                  communityEnabled: false
                  locationCount: 3
                  createdAt: "2026-06-01T10:00:00.000Z"
                  updatedAt: "2026-06-15T12:30:00.000Z"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/ForbiddenProjects'
        "404":
          $ref: '#/components/responses/ResourceNotFound'

  # ── Locations ─────────────────────────────────────────────────────────────────

  /projects/{project_id}/locations:
    get:
      tags:
        - Locations
      operationId: listProjectLocations
      summary: List locations for a project
      description: |
        Returns all locations (GeoPoints) belonging to the specified project,
        ordered by their configured `order` field.

        **The `id` field of each location is the value required as `location_id`
        in Presence Check and Presence Validate calls.**

        Each location includes its boundary configuration, schedule, quota, dwell
        settings, and destination — all the information needed to understand the
        validation rules before calling Presence.
      security:
        - basicAuth: []
        - bearerPair: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: UUID of the project.
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        "200":
          description: List of locations returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationListResponse'
              examples:
                with_radius:
                  summary: Location with radius boundary
                  value:
                    data:
                      - id: "660e8400-e29b-41d4-a716-446655440001"
                        name: "Punto Central"
                        description: "Acceso principal al recorrido."
                        instructions: null
                        active: true
                        order: 0
                        latitude: -33.4372
                        longitude: -70.6506
                        boundary:
                          type: "radius"
                          radiusMeters: 50
                        schedule:
                          enabled: false
                          days: []
                          startTime: null
                          endTime: null
                        quota:
                          enabled: false
                          limit: null
                          used: 0
                          remaining: null
                        dwell:
                          enabled: false
                          seconds: 0
                        destination:
                          type: "url"
                          url: "https://example.com/contenido"
                        destinationCategory: "website"
                        pointCategory: "tourism"
                        createdAt: "2026-06-01T10:00:00.000Z"
                    meta:
                      count: 1
                with_quota_and_schedule:
                  summary: Location with quota and schedule enabled
                  value:
                    data:
                      - id: "660e8400-e29b-41d4-a716-446655440002"
                        name: "Punto Restringido"
                        description: null
                        instructions: "Solo disponible en horario de atención."
                        active: true
                        order: 1
                        latitude: -33.4400
                        longitude: -70.6520
                        boundary:
                          type: "radius"
                          radiusMeters: 30
                        schedule:
                          enabled: true
                          days: ["mon", "tue", "wed", "thu", "fri"]
                          startTime: "09:00"
                          endTime: "18:00"
                        quota:
                          enabled: true
                          limit: 100
                          used: 42
                          remaining: 58
                        dwell:
                          enabled: true
                          seconds: 60
                        destination:
                          type: "url"
                          url: "https://example.com/oferta"
                        destinationCategory: "coupon"
                        pointCategory: "retail"
                        createdAt: "2026-06-02T09:00:00.000Z"
                    meta:
                      count: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/ForbiddenLocations'
        "404":
          $ref: '#/components/responses/ResourceNotFound'

  /locations/{id}:
    get:
      tags:
        - Locations
      operationId: getLocation
      summary: Get a single location
      description: |
        Returns a single location (GeoPoint) by ID. The location must belong to
        a project within the organization associated with the API credential.

        **The `id` returned is the value required as `location_id`
        in Presence Check and Presence Validate calls.**
      security:
        - basicAuth: []
        - bearerPair: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: UUID of the location.
          example: "660e8400-e29b-41d4-a716-446655440001"
      responses:
        "200":
          description: Location returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResponse'
              example:
                data:
                  id: "660e8400-e29b-41d4-a716-446655440001"
                  name: "Punto Central"
                  description: "Acceso principal al recorrido."
                  instructions: null
                  active: true
                  order: 0
                  latitude: -33.4372
                  longitude: -70.6506
                  boundary:
                    type: "radius"
                    radiusMeters: 50
                  schedule:
                    enabled: false
                    days: []
                    startTime: null
                    endTime: null
                  quota:
                    enabled: false
                    limit: null
                    used: 0
                    remaining: null
                  dwell:
                    enabled: false
                    seconds: 0
                  destination:
                    type: "url"
                    url: "https://example.com/contenido"
                  destinationCategory: "website"
                  pointCategory: "tourism"
                  createdAt: "2026-06-01T10:00:00.000Z"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/ForbiddenLocations'
        "404":
          $ref: '#/components/responses/ResourceNotFound'

  # ── Presence ──────────────────────────────────────────────────────────────────

  /presence/validate:
    post:
      tags:
        - Presence
      operationId: presenceValidate
      summary: Validate presence (with side effects)
      description: |
        Validates whether a user is inside the configured boundary of a location
        and passes all availability rules (schedule, quota, live visits, dwell).

        **Side effects (not a dry-run):**
        - Consumes quota if the location has a quota configured.
        - Records a `presence.validated` analytics event.
        - Records a `destination.delivered` analytics event when `valid` is `true`
          and a destination exists.
        - Upserts the live visit for the session.
        - Returns a non-null `eventId` when the event was recorded successfully.

        For dry-run validation without side effects, use `POST /api/v1/presence/check`.
      security:
        - basicAuth: []
        - bearerPair: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresenceRequest'
            example:
              location_id: "660e8400-e29b-41d4-a716-446655440001"
              session_id: "session-abc-123"
              coordinates:
                latitude: -33.4372
                longitude: -70.6506
                accuracy_meters: 8.0
              dwell_elapsed_seconds: 120
              timestamp: "2026-06-19T15:30:00Z"
              context:
                user_ref: "user-xyz"
                metadata:
                  channel: "mobile"
      responses:
        "200":
          description: |
            Presence evaluated. HTTP 200 is returned for both passing and failing
            validations — use `valid` and `failureReason` to interpret the outcome.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceResponse'
              examples:
                valid:
                  summary: All checks passed
                  value:
                    valid: true
                    locationId: "660e8400-e29b-41d4-a716-446655440001"
                    sessionId: "session-abc-123"
                    checks:
                      locationActive: true
                      insideBoundary: true
                      boundaryType: "radius"
                      distanceMeters: 34.7
                      scheduleActive: true
                      quotaAvailable: true
                      quotaRemaining: 9
                      liveVisitsEnabled: false
                      liveVisitsMet: true
                      dwellRequired: false
                      dwellTimeMet: true
                    destination:
                      type: "url"
                      url: "https://example.com/contenido"
                    failureReason: null
                    eventId: "770e8400-e29b-41d4-a716-446655440010"
                outside_boundary:
                  summary: User outside boundary
                  value:
                    valid: false
                    locationId: "660e8400-e29b-41d4-a716-446655440001"
                    sessionId: "session-abc-123"
                    checks:
                      locationActive: true
                      insideBoundary: false
                      boundaryType: "radius"
                      distanceMeters: 312.4
                    destination: null
                    failureReason: "outside_boundary"
                    eventId: "770e8400-e29b-41d4-a716-446655440011"
                quota_exhausted:
                  summary: Quota exhausted
                  value:
                    valid: false
                    locationId: "660e8400-e29b-41d4-a716-446655440001"
                    sessionId: "session-abc-123"
                    checks:
                      locationActive: true
                      insideBoundary: true
                      boundaryType: "radius"
                      distanceMeters: 12.3
                      scheduleActive: true
                      quotaAvailable: false
                      quotaRemaining: 0
                    destination: null
                    failureReason: "quota_exhausted"
                    eventId: "770e8400-e29b-41d4-a716-446655440012"
                dwell_not_met:
                  summary: Dwell time not met
                  value:
                    valid: false
                    locationId: "660e8400-e29b-41d4-a716-446655440001"
                    sessionId: "session-abc-123"
                    checks:
                      locationActive: true
                      insideBoundary: true
                      boundaryType: "radius"
                      distanceMeters: 8.1
                      scheduleActive: true
                      quotaAvailable: true
                      quotaRemaining: 4
                      liveVisitsEnabled: false
                      liveVisitsMet: true
                      dwellRequired: true
                      dwellTimeMet: false
                    destination: null
                    failureReason: "dwell_time_not_met"
                    eventId: "770e8400-e29b-41d4-a716-446655440013"
                minimum_live_visits:
                  summary: Not enough concurrent users
                  value:
                    valid: false
                    locationId: "660e8400-e29b-41d4-a716-446655440001"
                    sessionId: "session-abc-123"
                    checks:
                      locationActive: true
                      insideBoundary: true
                      boundaryType: "radius"
                      distanceMeters: 5.0
                      scheduleActive: true
                      quotaAvailable: true
                      quotaRemaining: 10
                      liveVisitsEnabled: true
                      liveVisitsRequired: 3
                      liveVisitsCurrent: 1
                      liveVisitsMet: false
                    destination: null
                    failureReason: "minimum_live_visits_not_reached"
                    eventId: "770e8400-e29b-41d4-a716-446655440014"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/ForbiddenValidate'
        "404":
          $ref: '#/components/responses/LocationNotFound'
        "409":
          $ref: '#/components/responses/IdempotencyConflict'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'

  /presence/check:
    post:
      tags:
        - Presence
      operationId: presenceCheck
      summary: Check presence (dry-run, no side effects)
      description: |
        Dry-run version of `/presence/validate`. Evaluates the full availability
        rule chain without producing any side effects.

        **No side effects:**
        - Does not consume quota.
        - Does not record analytics events.
        - Does not update live visits.
        - `eventId` is always `null`.

        Useful for pre-validating before committing a full `/validate` call.
      security:
        - basicAuth: []
        - bearerPair: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresenceRequest'
            example:
              location_id: "660e8400-e29b-41d4-a716-446655440001"
              session_id: "session-abc-123"
              coordinates:
                latitude: -33.4372
                longitude: -70.6506
      responses:
        "200":
          description: |
            Presence evaluated (dry-run). No side effects occurred.
            `eventId` is always `null` in this response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresenceResponse'
              examples:
                valid:
                  summary: All checks passed (dry-run)
                  value:
                    valid: true
                    locationId: "660e8400-e29b-41d4-a716-446655440001"
                    sessionId: "session-abc-123"
                    checks:
                      locationActive: true
                      insideBoundary: true
                      boundaryType: "radius"
                      distanceMeters: 34.7
                      scheduleActive: true
                      quotaAvailable: true
                      quotaRemaining: 9
                      liveVisitsEnabled: false
                      liveVisitsMet: true
                      dwellRequired: false
                      dwellTimeMet: true
                    destination:
                      type: "url"
                      url: "https://example.com/contenido"
                    failureReason: null
                    eventId: null
                outside_schedule:
                  summary: Outside operating schedule
                  value:
                    valid: false
                    locationId: "660e8400-e29b-41d4-a716-446655440001"
                    sessionId: "session-abc-123"
                    checks:
                      locationActive: true
                      insideBoundary: true
                      boundaryType: "radius"
                      distanceMeters: 5.2
                      scheduleActive: false
                    destination: null
                    failureReason: "outside_schedule"
                    eventId: null
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/ForbiddenCheck'
        "404":
          $ref: '#/components/responses/LocationNotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'

  # ── Analytics ─────────────────────────────────────────────────────────────────

  /projects/{id}/analytics:
    get:
      tags:
        - Analytics
      operationId: getProjectAnalyticsSummary
      summary: Project analytics summary
      description: |
        Returns aggregate analytics metrics and current live-visit state for a project.

        Optionally scoped to a single location via `?location_id=`.
        Date filters apply to the `event_date` field of recorded analytics events.

        **Entry events counted:** `radius_enter`, `presence.validated`.
        **Conversion events counted:** `point_click`, `destination.delivered`.
      security:
        - basicAuth: []
        - bearerPair: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: UUID of the project.
          example: "550e8400-e29b-41d4-a716-446655440000"
        - $ref: '#/components/parameters/LocationIdFilter'
        - $ref: '#/components/parameters/FromDate'
        - $ref: '#/components/parameters/ToDate'
      responses:
        "200":
          description: Analytics summary returned successfully.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AnalyticsSummary'
              example:
                data:
                  summary:
                    radiusEntries: 3
                    clicks: 2
                    conversionPct: 67
                  liveVisits:
                    activeNow: 1
                    mostActiveLocation:
                      locationId: "660e8400-e29b-41d4-a716-446655440001"
                      locationName: "Punto Central"
                      activeNow: 1
                    lastHourDeltaPct: 15
                    peakToday:
                      label: "14:00–15:00"
                      count: 34
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/ForbiddenAnalytics'
        "404":
          description: |
            Project not found (`"Resource not found"`) or the specified `location_id`
            does not belong to the project (`"Location not found in this project"`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                project_not_found:
                  summary: Project not found
                  value:
                    error: "Resource not found"
                location_filter_not_found:
                  summary: location_id not in project
                  value:
                    error: "Location not found in this project"

  /projects/{id}/analytics/locations:
    get:
      tags:
        - Analytics
      operationId: getProjectAnalyticsLocations
      summary: Per-location analytics breakdown
      description: |
        Returns analytics metrics broken down by location (GeoPoint) for the project.
        Includes all locations, including those with zero events.
        Results are ordered by each location's configured `order` field.

        Date filters apply to the `event_date` field of recorded events.
        There is no `location_id` filter on this endpoint — it always returns all locations.
      security:
        - basicAuth: []
        - bearerPair: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: UUID of the project.
          example: "550e8400-e29b-41d4-a716-446655440000"
        - $ref: '#/components/parameters/FromDate'
        - $ref: '#/components/parameters/ToDate'
      responses:
        "200":
          description: Per-location analytics returned successfully.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnalyticsLocationStat'
              example:
                data:
                  - locationId: "660e8400-e29b-41d4-a716-446655440001"
                    locationName: "Punto Central"
                    radiusEntries: 2
                    clicks: 2
                    conversionPct: 100
                    activeNow: 1
                  - locationId: "660e8400-e29b-41d4-a716-446655440002"
                    locationName: "Punto Norte"
                    radiusEntries: 1
                    clicks: 0
                    conversionPct: 0
                    activeNow: 0
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/ForbiddenAnalytics'
        "404":
          $ref: '#/components/responses/ResourceNotFound'

  /projects/{id}/analytics/distribution:
    get:
      tags:
        - Analytics
      operationId: getProjectAnalyticsDistribution
      summary: Event distribution by time and geography
      description: |
        Returns event distribution across three dimensions:
        - **By hour of day** (0–23) — all hours with at least one event.
        - **By day of week** (0=Sunday, 6=Saturday) — all days with at least one event.
        - **By geography** — aggregated event counts by country, city, and commune.
          Only events with a resolved geocoded location are included. Results are
          sorted descending by count. Each entry includes a `pct` field (percentage
          of total, rounded).

        Optionally scoped to a single location via `?location_id=`.
      security:
        - basicAuth: []
        - bearerPair: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: UUID of the project.
          example: "550e8400-e29b-41d4-a716-446655440000"
        - $ref: '#/components/parameters/LocationIdFilter'
        - $ref: '#/components/parameters/FromDate'
        - $ref: '#/components/parameters/ToDate'
      responses:
        "200":
          description: Distribution data returned successfully.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AnalyticsDistribution'
              example:
                data:
                  byHour:
                    - hour: 9
                      count: 5
                    - hour: 14
                      count: 12
                    - hour: 18
                      count: 3
                  byDayOfWeek:
                    - day: 1
                      count: 7
                    - day: 3
                      count: 4
                    - day: 5
                      count: 9
                  geo:
                    countries:
                      - label: "Chile"
                        count: 18
                        pct: 90
                      - label: "Argentina"
                        count: 2
                        pct: 10
                    cities:
                      - label: "Santiago"
                        count: 15
                        pct: 75
                    communes:
                      - label: "Providencia"
                        count: 10
                        pct: 50
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/ForbiddenAnalytics'
        "404":
          description: |
            Project not found or `location_id` does not belong to the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                project_not_found:
                  summary: Project not found
                  value:
                    error: "Resource not found"
                location_filter_not_found:
                  summary: location_id not in project
                  value:
                    error: "Location not found in this project"

  /projects/{id}/analytics/intensity:
    get:
      tags:
        - Analytics
      operationId: getProjectAnalyticsIntensity
      summary: Entry count per location with coordinates
      description: |
        Returns the total historical entry count for each location in the project,
        including the location's coordinates. Useful for building heatmap visualizations.

        Only `radius_enter` and `presence.validated` events are counted.
        Conversion events (`point_click`, `destination.delivered`) are excluded.

        Results include all locations, ordered by each location's configured `order` field.
        This endpoint has no query parameters — it always returns the full historical count.
      security:
        - basicAuth: []
        - bearerPair: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: UUID of the project.
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        "200":
          description: Intensity data returned successfully.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnalyticsIntensityPoint'
              example:
                data:
                  - locationId: "660e8400-e29b-41d4-a716-446655440001"
                    locationName: "Punto Central"
                    lat: -33.4372
                    lng: -70.6506
                    entryCount: 42
                  - locationId: "660e8400-e29b-41d4-a716-446655440002"
                    locationName: "Punto Norte"
                    lat: -33.4200
                    lng: -70.6400
                    entryCount: 17
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/ForbiddenAnalytics'
        "404":
          $ref: '#/components/responses/ResourceNotFound'

  /projects/{id}/analytics/outside_areas:
    get:
      tags:
        - Analytics
      operationId: getProjectAnalyticsOutsideAreas
      summary: GPS activity recorded outside active location boundaries
      description: |
        Returns clustered GPS coordinates recorded outside all active GeoPoints of
        the project. A coordinate is included when no active location's boundary
        contains it. Inactive locations are never considered for exclusion.

        **Modes:**
        - `historical` (default) — GPS from `project_location` events with `had_outside_position: true`.
          Date filters apply.
        - `live` — current GPS positions from active sessions (`ProjectLiveVisit`).
          Date filters are ignored.

        Hotspots are grid-clustered at ~11 m precision and sorted descending by count.
        `intensity` is normalized 0.0–1.0 relative to the hotspot with the highest count.
        `radiusMeters` is always 8 (display radius for the cluster dot).
      security:
        - basicAuth: []
        - bearerPair: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: UUID of the project.
          example: "550e8400-e29b-41d4-a716-446655440000"
        - name: mode
          in: query
          required: false
          schema:
            type: string
            enum:
              - historical
              - live
            default: historical
          description: |
            `historical` — aggregated GPS from past events (default).
            `live` — current positions from active sessions.
          example: "historical"
        - $ref: '#/components/parameters/FromDate'
        - $ref: '#/components/parameters/ToDate'
      responses:
        "200":
          description: Outside areas data returned successfully.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AnalyticsOutsideAreas'
              examples:
                historical_with_data:
                  summary: Historical mode with outside GPS events
                  value:
                    data:
                      mode: "historical"
                      hotspots:
                        - lat: -35.0
                          lng: -59.0
                          count: 3
                          intensity: 1.0
                          radiusMeters: 8
                        - lat: -35.01
                          lng: -59.01
                          count: 1
                          intensity: 0.3333
                          radiusMeters: 8
                      meta:
                        totalPoints: 5
                        outsidePoints: 4
                        activeGeoPointsCount: 2
                live_empty:
                  summary: Live mode with no active outside sessions
                  value:
                    data:
                      mode: "live"
                      hotspots: []
                      meta:
                        totalPoints: 0
                        outsidePoints: 0
                        activeGeoPointsCount: 2
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/ForbiddenAnalytics'
        "404":
          $ref: '#/components/responses/ResourceNotFound'

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: |
        Standard HTTP Basic authentication. Encode `key_public:key_secret`
        in Base64 and send as `Authorization: Basic <base64>`.
    bearerPair:
      type: http
      scheme: bearer
      description: |
        Non-standard bearer format using a colon-separated key pair (not a JWT).
        Send as `Authorization: Bearer key_public:key_secret`.
        Equivalent to Basic auth — both formats are accepted.

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string
        maxLength: 255
      description: |
        Optional client-generated idempotency key (TTL: 24 hours, max 255 chars).
        If a completed request with this key exists, the stored response is replayed
        without re-executing side effects. If a request with this key is currently
        in flight, a 409 is returned. Only supported on `POST /api/v1/presence/validate`.

    FromDate:
      name: from
      in: query
      required: false
      schema:
        type: string
        format: date
      description: |
        Start date filter (inclusive), format `YYYY-MM-DD`. Applies to the `event_date`
        field of recorded analytics events. Invalid values are silently ignored.
      example: "2025-01-01"

    ToDate:
      name: to
      in: query
      required: false
      schema:
        type: string
        format: date
      description: |
        End date filter (inclusive), format `YYYY-MM-DD`. Applies to the `event_date`
        field of recorded analytics events. Invalid values are silently ignored.
      example: "2025-12-31"

    LocationIdFilter:
      name: location_id
      in: query
      required: false
      schema:
        type: string
        format: uuid
      description: |
        Scope analytics to a single location (GeoPoint). Must belong to the requested
        project; returns 404 if not found in the project.
      example: "660e8400-e29b-41d4-a716-446655440001"

  schemas:
    # ── Shared ────────────────────────────────────────────────────────────────────

    PaginationMeta:
      type: object
      required:
        - count
      properties:
        count:
          type: integer
          description: Total number of items in the result set.
          example: 3

    # ── Project schemas ───────────────────────────────────────────────────────────

    Project:
      type: object
      required:
        - id
        - title
        - status
        - communityEnabled
        - locationCount
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for this project.
          example: "550e8400-e29b-41d4-a716-446655440000"
        title:
          type: string
          description: Title of the project.
          example: "Circuito Histórico"
        subtitle:
          type:
            - string
            - "null"
          description: Optional subtitle.
          example: "Recorrido por el centro"
        description:
          type:
            - string
            - "null"
          description: Optional description of the project.
        status:
          type: string
          description: Publication status of the project (e.g. `active`, `draft`).
          example: "active"
        coverImage:
          type:
            - string
            - "null"
          description: URL or data URI of the cover image.
        howToGet:
          type:
            - string
            - "null"
          description: Instructions on how to reach the project location.
        shareText:
          type:
            - string
            - "null"
          description: Text used when sharing the project.
        communityEnabled:
          type: boolean
          description: Whether the project is listed in the community showcase.
        locationCount:
          type: integer
          description: Number of locations (GeoPoints) in this project.
          example: 3
        createdAt:
          type: string
          format: date-time
          description: ISO 8601 creation timestamp (millisecond precision).
          example: "2026-06-01T10:00:00.000Z"
        updatedAt:
          type: string
          format: date-time
          description: ISO 8601 last-updated timestamp (millisecond precision).
          example: "2026-06-15T12:30:00.000Z"

    ProjectListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    ProjectResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/Project'

    # ── Location sub-schemas ──────────────────────────────────────────────────────

    LocationBoundaryRadius:
      type: object
      required:
        - type
        - radiusMeters
      properties:
        type:
          type: string
          enum:
            - radius
        radiusMeters:
          type: integer
          description: Radius of the circular boundary in meters.
          example: 50

    LocationBoundaryPolygon:
      type: object
      required:
        - type
        - polygon
      properties:
        type:
          type: string
          enum:
            - polygon
        polygon:
          type: array
          description: Array of [longitude, latitude] coordinate pairs defining the polygon.
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: number

    LocationBoundary:
      description: |
        Boundary configuration for the location. Shape depends on `type`:
        - `radius`: circular boundary defined by `radiusMeters`.
        - `polygon`: arbitrary polygon defined by a coordinate array.
      oneOf:
        - $ref: '#/components/schemas/LocationBoundaryRadius'
        - $ref: '#/components/schemas/LocationBoundaryPolygon'
      discriminator:
        propertyName: type
        mapping:
          radius: '#/components/schemas/LocationBoundaryRadius'
          polygon: '#/components/schemas/LocationBoundaryPolygon'

    LocationSchedule:
      type: object
      required:
        - enabled
        - days
      properties:
        enabled:
          type: boolean
          description: Whether schedule restrictions are active for this location.
        days:
          type: array
          items:
            type: string
          description: Day identifiers when the location is accessible (e.g. `["mon", "tue"]`).
          example: ["mon", "tue", "wed", "thu", "fri"]
        startTime:
          type:
            - string
            - "null"
          description: Daily start time in HH:MM format. `null` when schedule is disabled.
          example: "09:00"
        endTime:
          type:
            - string
            - "null"
          description: Daily end time in HH:MM format. `null` when schedule is disabled.
          example: "18:00"

    LocationQuota:
      type: object
      required:
        - enabled
        - used
      properties:
        enabled:
          type: boolean
          description: Whether quota restrictions are active for this location.
        limit:
          type:
            - integer
            - "null"
          description: Total allowed validations. `null` when quota is disabled.
          example: 100
        used:
          type: integer
          description: Validations consumed so far.
          example: 42
        remaining:
          type:
            - integer
            - "null"
          description: Remaining validations (`limit - used`, floored at 0). `null` when quota is disabled.
          example: 58

    LocationDwell:
      type: object
      required:
        - enabled
        - seconds
      properties:
        enabled:
          type: boolean
          description: |
            Whether dwell time is required before validation passes.
            When `true`, the `dwell_elapsed_seconds` field becomes functionally
            required in Presence API calls.
        seconds:
          type: integer
          description: Minimum seconds the user must spend inside the boundary.
          example: 60

    LocationDestination:
      type: object
      required:
        - type
        - url
      properties:
        type:
          type: string
          enum:
            - url
          description: Destination type. Currently always `url`.
        url:
          type:
            - string
            - "null"
          format: uri
          description: |
            URL to deliver to the user on successful presence validation.
            `null` when no content is configured for this location.
          example: "https://example.com/contenido"

    # ── Location schema ───────────────────────────────────────────────────────────

    Location:
      type: object
      required:
        - id
        - name
        - active
        - order
        - latitude
        - longitude
        - boundary
        - schedule
        - quota
        - dwell
        - destination
        - createdAt
      description: |
        A GeoPoint (location) within a project. Includes all configuration needed
        to understand the validation rules that will apply when calling Presence.
      properties:
        id:
          type: string
          format: uuid
          description: |
            Unique identifier for this location.
            **This is the value required as `location_id` in Presence Check and
            Presence Validate calls.**
          example: "660e8400-e29b-41d4-a716-446655440001"
        name:
          type: string
          description: Display name of the location.
          example: "Punto Central"
        description:
          type:
            - string
            - "null"
          description: Optional description of the location.
        instructions:
          type:
            - string
            - "null"
          description: Optional instructions shown to end users at this location.
        active:
          type: boolean
          description: |
            Whether the location is active. Only active locations can pass
            presence validation (`failureReason: location_inactive` otherwise).
        order:
          type: integer
          description: Display order within the project (ascending).
          example: 0
        latitude:
          type: number
          format: float
          description: Latitude of the location center in decimal degrees.
          example: -33.4372
        longitude:
          type: number
          format: float
          description: Longitude of the location center in decimal degrees.
          example: -70.6506
        boundary:
          $ref: '#/components/schemas/LocationBoundary'
        schedule:
          $ref: '#/components/schemas/LocationSchedule'
        quota:
          $ref: '#/components/schemas/LocationQuota'
        dwell:
          $ref: '#/components/schemas/LocationDwell'
        destination:
          $ref: '#/components/schemas/LocationDestination'
        destinationCategory:
          type:
            - string
            - "null"
          description: |
            Category of the destination URL. Present only for `url`-type locations.
            Possible values: `website` | `whatsapp` | `form` | `reservation` |
            `ecommerce` | `social` | `map` | `coupon` | `custom`.
          example: "website"
        pointCategory:
          type:
            - string
            - "null"
          description: |
            Physical or functional category of the place.
            Possible values: `gastronomy` | `retail` | `health` | `tourism` |
            `culture` | `education` | `services` | `events` | `entertainment` |
            `transport` | `accommodation` | `sport` | `real_estate` | `corporate` | `other`.
          example: "tourism"
        createdAt:
          type: string
          format: date-time
          description: ISO 8601 creation timestamp (millisecond precision).
          example: "2026-06-01T10:00:00.000Z"

    LocationListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Location'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    LocationResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/Location'

    # ── Presence schemas ──────────────────────────────────────────────────────────

    Coordinates:
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: number
          format: float
          minimum: -90
          maximum: 90
          description: Latitude in decimal degrees.
          example: -33.4372
        longitude:
          type: number
          format: float
          minimum: -180
          maximum: 180
          description: Longitude in decimal degrees.
          example: -70.6506
        accuracy_meters:
          type: number
          format: float
          minimum: 0
          description: GPS accuracy radius in meters (positive). Optional.
          example: 8.0

    PresenceContext:
      type: object
      properties:
        user_ref:
          type: string
          description: Client-side reference for the end user. Stored in analytics events.
          example: "user-xyz"
        metadata:
          type: object
          additionalProperties: true
          description: Arbitrary key-value metadata stored in the analytics event context.
          example:
            channel: "mobile"

    PresenceRequest:
      type: object
      required:
        - location_id
        - session_id
        - coordinates
      properties:
        location_id:
          type: string
          description: |
            UUID of the target GeoPoint (Location), scoped to the organization
            associated with the API credential. Obtain this value from
            `GET /api/v1/projects/{project_id}/locations` or
            `GET /api/v1/locations/{id}`.
          example: "660e8400-e29b-41d4-a716-446655440001"
        session_id:
          type: string
          minLength: 1
          description: |
            Non-empty string identifying the end-user session. No UUID format required.
            Used to track live visits and deduplicate analytics events.
          example: "session-abc-123"
        coordinates:
          $ref: '#/components/schemas/Coordinates'
        dwell_elapsed_seconds:
          type: integer
          minimum: 0
          description: |
            Seconds the user has spent inside the area. Functionally required when the
            location has `dwell.enabled: true` — omitting it produces
            `failureReason: dwell_required`. Ignored for locations without dwell.
          example: 120
        timestamp:
          type: string
          format: date-time
          description: |
            ISO 8601 timestamp used for schedule evaluation.
            Defaults to server time if omitted.
          example: "2026-06-19T15:30:00Z"
        context:
          $ref: '#/components/schemas/PresenceContext'

    PresenceChecks:
      type: object
      description: |
        Per-check diagnostic results serialized in camelCase. Fields are conditional:
        not all fields appear in every response. Presence depends on the location's
        configuration and which checks were reached before a failure or completion.

        Conditional fields by feature:
        - `distanceMeters`: only present when `boundaryType` is `radius`.
        - `quotaAvailable`, `quotaRemaining`: only present when `quota.enabled` is `true`.
        - `liveVisitsRequired`, `liveVisitsCurrent`: only present when `liveVisitsEnabled` is `true`.
        - `dwellTimeMet`: only present when `dwellRequired` is `true`.

        Checks are evaluated in order: active → boundary → schedule → quota →
        live_visits → dwell. Fields for checks not yet reached are absent.
      properties:
        locationActive:
          type: boolean
          description: Whether the location is active.
        insideBoundary:
          type: boolean
          description: Whether the coordinates fall inside the configured boundary.
        boundaryType:
          type: string
          description: The boundary mode of the location (e.g. `radius`, `polygon`).
          example: "radius"
        distanceMeters:
          type: number
          format: float
          description: |
            Distance from the provided coordinates to the location center, in meters.
            Present only when `boundaryType` is `radius`.
          example: 34.7
        scheduleActive:
          type: boolean
          description: Whether the location is within its configured operating schedule.
        quotaAvailable:
          type: boolean
          description: Whether quota is available. Present only when `quota.enabled` is `true`.
        quotaRemaining:
          type: integer
          description: Validations remaining in the current quota. Present only when quota is configured.
          example: 9
        liveVisitsEnabled:
          type: boolean
          description: Whether the live visits minimum is enforced for this location.
        liveVisitsRequired:
          type: integer
          description: Minimum concurrent users required. Present only when `liveVisitsEnabled` is `true`.
          example: 3
        liveVisitsCurrent:
          type: integer
          description: |
            Active users currently in the area, excluding the requesting session.
            Present only when `liveVisitsEnabled` is `true`.
          example: 2
        liveVisitsMet:
          type: boolean
          description: |
            Whether the live visits minimum was satisfied, counting the requesting
            user as +1 toward the minimum.
        dwellRequired:
          type: boolean
          description: Whether this location requires a minimum dwell time before validation passes.
        dwellTimeMet:
          type: boolean
          description: |
            Whether the dwell time requirement was satisfied.
            Present only when `dwellRequired` is `true`.

    Destination:
      type: object
      required:
        - type
        - url
      properties:
        type:
          type: string
          enum:
            - url
          description: Destination type. Currently always `url`.
        url:
          type: string
          format: uri
          description: URL to deliver to the user on successful validation.
          example: "https://example.com/contenido"

    PresenceResponse:
      type: object
      required:
        - valid
        - locationId
        - sessionId
        - checks
        - destination
        - failureReason
        - eventId
      properties:
        valid:
          type: boolean
          description: |
            `true` if all availability checks passed. `false` if any check failed.
            Both outcomes return HTTP 200 — this field determines the business result.
        locationId:
          type: string
          format: uuid
          description: UUID of the evaluated GeoPoint.
          example: "660e8400-e29b-41d4-a716-446655440001"
        sessionId:
          type: string
          description: Session ID received in the request.
          example: "session-abc-123"
        checks:
          $ref: '#/components/schemas/PresenceChecks'
        destination:
          oneOf:
            - $ref: '#/components/schemas/Destination'
            - type: "null"
          description: |
            Destination to deliver when `valid` is `true` and the location has content
            configured. `null` when `valid` is `false` or no content is set.
        failureReason:
          type:
            - string
            - "null"
          enum:
            - location_inactive
            - outside_boundary
            - outside_schedule
            - quota_exhausted
            - minimum_live_visits_not_reached
            - dwell_required
            - dwell_time_not_met
            - null
          description: |
            Machine-readable failure code when `valid` is `false`. `null` when `valid` is `true`.

            | Code | Condition |
            |---|---|
            | `location_inactive` | The GeoPoint is not active |
            | `outside_boundary` | Coordinates fall outside the configured area |
            | `outside_schedule` | Outside the configured operating schedule |
            | `quota_exhausted` | All quota slots have been consumed |
            | `minimum_live_visits_not_reached` | Not enough concurrent users in the area |
            | `dwell_required` | `dwell_elapsed_seconds` not provided for a dwell-required location |
            | `dwell_time_not_met` | Elapsed dwell time is below the required minimum |
        eventId:
          type:
            - string
            - "null"
          format: uuid
          description: |
            UUID of the recorded analytics event.
            - `POST /presence/validate`: non-null UUID when the event was recorded successfully.
            - `POST /presence/check`: always `null` (no side effects).
          example: "770e8400-e29b-41d4-a716-446655440010"

    # ── Error schemas ─────────────────────────────────────────────────────────────

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Human-readable error message.

    ScopeErrorResponse:
      type: object
      required:
        - error
        - required
      properties:
        error:
          type: string
          enum:
            - insufficient_scope
          example: "insufficient_scope"
        required:
          type: string
          description: The scope that was required but not present in the credential.
          example: "presence:validate"

    ValidationErrorResponse:
      type: object
      required:
        - error
        - details
      properties:
        error:
          type: string
          enum:
            - Invalid request parameters
          example: "Invalid request parameters"
        details:
          type: object
          additionalProperties:
            type: string
          description: Per-field validation errors. Keys are the parameter names.
          example:
            latitude: "must be between -90 and 90"
            session_id: "is required"

    IdempotencyConflictResponse:
      type: object
      required:
        - error
        - retryAfter
      properties:
        error:
          type: string
          enum:
            - Request in progress
          example: "Request in progress"
        retryAfter:
          type: integer
          description: Seconds to wait before retrying.
          example: 30

    # ── Analytics schemas ─────────────────────────────────────────────────────────

    AnalyticsGeoBucket:
      type: object
      description: A single geographic bucket (country, city, or commune) with its event share.
      required:
        - label
        - count
        - pct
      properties:
        label:
          type: string
          description: Human-readable name of the geographic entity.
          example: "Chile"
        count:
          type: integer
          description: Number of events attributed to this entity.
          example: 18
        pct:
          type: integer
          description: Percentage of total events (rounded to nearest integer, 0–100).
          example: 90

    AnalyticsGeo:
      type: object
      description: Event distribution across geographic dimensions.
      required:
        - countries
        - cities
        - communes
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsGeoBucket'
          description: Events grouped by country, sorted descending by count.
        cities:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsGeoBucket'
          description: Events grouped by city, sorted descending by count.
        communes:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsGeoBucket'
          description: Events grouped by commune (Chilean subdivision), sorted descending by count.

    AnalyticsHourEntry:
      type: object
      description: Event count for a specific hour of day.
      required:
        - hour
        - count
      properties:
        hour:
          type: integer
          minimum: 0
          maximum: 23
          description: Hour of day (0–23, UTC).
          example: 14
        count:
          type: integer
          description: Number of events in this hour.
          example: 12

    AnalyticsDowEntry:
      type: object
      description: Event count for a specific day of week.
      required:
        - day
        - count
      properties:
        day:
          type: integer
          minimum: 0
          maximum: 6
          description: Day of week (0=Sunday, 6=Saturday).
          example: 1
        count:
          type: integer
          description: Number of events on this day.
          example: 7

    AnalyticsDistribution:
      type: object
      description: Distribution of events across time-of-day, day-of-week, and geography.
      required:
        - byHour
        - byDayOfWeek
        - geo
      properties:
        byHour:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsHourEntry'
          description: Hours with at least one event, sorted ascending by hour.
        byDayOfWeek:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsDowEntry'
          description: Days of week with at least one event.
        geo:
          $ref: '#/components/schemas/AnalyticsGeo'

    AnalyticsPeakToday:
      type: object
      description: The busiest one-hour window today (in the project owner's timezone).
      required:
        - label
        - count
      properties:
        label:
          type: string
          description: Human-readable time window (e.g. `"14:00–15:00"`).
          example: "14:00–15:00"
        count:
          type: integer
          description: Number of active sessions during this window.
          example: 34

    AnalyticsMostActiveLocation:
      type: object
      description: Location with the highest number of currently active sessions.
      required:
        - locationId
        - locationName
        - activeNow
      properties:
        locationId:
          type: string
          format: uuid
          description: UUID of the location.
          example: "660e8400-e29b-41d4-a716-446655440001"
        locationName:
          type: string
          description: Name of the location.
          example: "Punto Central"
        activeNow:
          type: integer
          description: Number of sessions currently active at this location.
          example: 3

    AnalyticsLiveVisits:
      type: object
      description: Current live-visit state for the project.
      required:
        - activeNow
      properties:
        activeNow:
          type: integer
          description: Total number of active sessions across all locations.
          example: 5
        mostActiveLocation:
          description: Location with the most active sessions right now. Absent when `activeNow` is 0.
          oneOf:
            - $ref: '#/components/schemas/AnalyticsMostActiveLocation'
            - type: "null"
        lastHourDeltaPct:
          description: |
            Percentage change in active sessions compared to one hour ago.
            Positive values mean growth; negative values mean decline.
            Absent when the previous-hour count is unavailable.
          oneOf:
            - type: integer
            - type: "null"
          example: 15
        peakToday:
          description: |
            Busiest one-hour window today. Absent when no data is available for today.
          oneOf:
            - $ref: '#/components/schemas/AnalyticsPeakToday'
            - type: "null"

    AnalyticsSummaryMetrics:
      type: object
      description: Aggregated entry and conversion metrics.
      required:
        - radiusEntries
        - clicks
        - conversionPct
      properties:
        radiusEntries:
          type: integer
          description: Number of radius-entry events (`radius_enter`, `presence.validated`).
          example: 3
        clicks:
          type: integer
          description: Number of conversion events (`point_click`, `destination.delivered`).
          example: 2
        conversionPct:
          type: integer
          description: |
            Conversion rate (unique clickers / unique enterers × 100, rounded).
            Returns 0 when there are no entries.
          minimum: 0
          maximum: 100
          example: 67

    AnalyticsSummary:
      type: object
      description: Project-level analytics summary combining aggregate metrics and live state.
      required:
        - summary
        - liveVisits
      properties:
        summary:
          $ref: '#/components/schemas/AnalyticsSummaryMetrics'
        liveVisits:
          $ref: '#/components/schemas/AnalyticsLiveVisits'

    AnalyticsLocationStat:
      type: object
      description: Analytics metrics for a single location.
      required:
        - locationId
        - locationName
        - radiusEntries
        - clicks
        - conversionPct
        - activeNow
      properties:
        locationId:
          type: string
          format: uuid
          description: UUID of the location.
          example: "660e8400-e29b-41d4-a716-446655440001"
        locationName:
          type: string
          description: Name of the location.
          example: "Punto Central"
        radiusEntries:
          type: integer
          description: Number of entry events for this location.
          example: 2
        clicks:
          type: integer
          description: Number of conversion events for this location.
          example: 2
        conversionPct:
          type: integer
          description: Conversion rate (0–100, rounded).
          minimum: 0
          maximum: 100
          example: 100
        activeNow:
          type: integer
          description: Number of sessions currently active at this location.
          example: 1

    AnalyticsIntensityPoint:
      type: object
      description: Entry count and coordinates for a single location. Used for heatmap rendering.
      required:
        - locationId
        - locationName
        - lat
        - lng
        - entryCount
      properties:
        locationId:
          type: string
          format: uuid
          description: UUID of the location.
          example: "660e8400-e29b-41d4-a716-446655440001"
        locationName:
          type: string
          description: Name of the location.
          example: "Punto Central"
        lat:
          type: number
          format: double
          description: Latitude of the location center.
          example: -33.4372
        lng:
          type: number
          format: double
          description: Longitude of the location center.
          example: -70.6506
        entryCount:
          type: integer
          description: Total historical entry count (radius_enter + presence.validated).
          example: 42

    AnalyticsHotspot:
      type: object
      description: A clustered outside-area GPS position.
      required:
        - lat
        - lng
        - count
        - intensity
        - radiusMeters
      properties:
        lat:
          type: number
          format: double
          description: Latitude of the cluster centroid.
          example: -35.0
        lng:
          type: number
          format: double
          description: Longitude of the cluster centroid.
          example: -59.0
        count:
          type: integer
          description: Number of GPS points in this cluster.
          example: 3
        intensity:
          type: number
          format: double
          description: |
            Normalized intensity relative to the hotspot with the highest count
            (0.0–1.0, rounded to 4 decimal places). The busiest hotspot always has
            intensity 1.0.
          minimum: 0.0
          maximum: 1.0
          example: 1.0
        radiusMeters:
          type: integer
          description: Display radius of the cluster dot in meters. Always 8.
          enum:
            - 8
          example: 8

    AnalyticsOutsideMeta:
      type: object
      description: Counts summarizing how many GPS points were evaluated.
      required:
        - totalPoints
        - outsidePoints
        - activeGeoPointsCount
      properties:
        totalPoints:
          type: integer
          description: Total GPS points evaluated.
          example: 5
        outsidePoints:
          type: integer
          description: GPS points that fell outside all active location boundaries.
          example: 4
        activeGeoPointsCount:
          type: integer
          description: Number of active locations used as the exclusion boundaries.
          example: 2

    AnalyticsOutsideAreas:
      type: object
      description: Clustered GPS activity recorded outside active location boundaries.
      required:
        - mode
        - hotspots
        - meta
      properties:
        mode:
          type: string
          enum:
            - historical
            - live
          description: The mode that was applied to this response.
          example: "historical"
        hotspots:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsHotspot'
          description: Sorted descending by count. Empty array when no outside activity exists.
        meta:
          $ref: '#/components/schemas/AnalyticsOutsideMeta'

  responses:
    # ── Auth ──────────────────────────────────────────────────────────────────────

    Unauthorized:
      description: Missing or invalid API credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "Invalid or missing API credentials"

    # ── Scope errors (one per scope for accurate examples) ────────────────────────

    ForbiddenProjects:
      description: Valid credentials but missing the `projects:read` scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ScopeErrorResponse'
          example:
            error: "insufficient_scope"
            required: "projects:read"

    ForbiddenLocations:
      description: Valid credentials but missing the `locations:read` scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ScopeErrorResponse'
          example:
            error: "insufficient_scope"
            required: "locations:read"

    ForbiddenValidate:
      description: Valid credentials but missing the `presence:validate` scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ScopeErrorResponse'
          example:
            error: "insufficient_scope"
            required: "presence:validate"

    ForbiddenCheck:
      description: Valid credentials but missing the `presence:check` scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ScopeErrorResponse'
          example:
            error: "insufficient_scope"
            required: "presence:check"

    ForbiddenAnalytics:
      description: Valid credentials but missing the `analytics:read` scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ScopeErrorResponse'
          example:
            error: "insufficient_scope"
            required: "analytics:read"

    # ── Not found ─────────────────────────────────────────────────────────────────

    ResourceNotFound:
      description: |
        The requested resource does not exist or does not belong to the organization
        associated with the API credential.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "Resource not found"

    LocationNotFound:
      description: |
        The `location_id` does not exist or does not belong to the organization
        associated with the API credential.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "Location not found"

    # ── Presence-specific ─────────────────────────────────────────────────────────

    IdempotencyConflict:
      description: |
        A request with the same `Idempotency-Key` is currently in flight.
        Wait the number of seconds indicated by `retryAfter` before retrying.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IdempotencyConflictResponse'
          example:
            error: "Request in progress"
            retryAfter: 30

    UnprocessableEntity:
      description: One or more request parameters failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'
          example:
            error: "Invalid request parameters"
            details:
              latitude: "is required"
              session_id: "is required"
